* {
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2.375rem;
}

h2 {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 2.0625rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h4 {
    font-size: .8125rem;
    line-height: 1.25rem; 
}